*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#050816,#0a1931,#112240);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{

width:85%;
max-width:1000px;

padding:30px;

border-radius:20px;

background:rgba(20,20,35,.9);

box-shadow:
0 0 25px rgba(0,140,255,.3);

}

h1{

text-align:center;
margin-bottom:25px;
color:#4da6ff;

}

form{

display:flex;
gap:10px;
margin-bottom:30px;

}

input{

flex:1;
padding:14px;
background:#0f172a;
border:none;
border-radius:10px;
color:white;
border:1px solid #008cff;

}

button{

padding:14px 25px;
background:#008cff;
border:none;
border-radius:10px;
color:white;
cursor:pointer;

}

button:hover{

background:#0066cc;

}

.summary{

margin-bottom:20px;
padding:15px;
background:#0f172a;
border-radius:10px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:15px;
text-align:center;
border-bottom:1px solid #444;

}

th{

background:#008cff;

}

tr:hover{

background:#16213e;

}